@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  background-image: url('http://estrogen.bio/assets/bkrnd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    font-family: "mc";
    color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease-in;
    animation: fadein 2s forwards;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "mc";
    src: url("regular.otf") format("opentype");
}

.maintxt {
    width: 100vw;
    height: 100vh;

}
@keyframes shift {
    0% {
        filter: hue-rotate(0deg)
    }
    50% {
        filter: hue-rotate(50deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}

/* unvisited link */
a:link {
    color: rgb(224, 224, 224);
  }
  
  /* visited link */
  a:visited {
    color: rgb(224, 224, 224);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(224, 224, 224);
  }
  
  /* selected link */
  a:active {
    color: rgb(224, 224, 224);
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  

.heading {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.heading-logo {
    width: 20em;
}

.heading .logo {
    position: relative;
    padding: 25px;
    font-size: 20px;
    transition: 0.3s;
    font-weight: bolder;
    filter: none;
   color: rgb(255, 189, 233);
}

@-webkit-keyframes delay {
    0%, 40%, 100% {
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }
  @keyframes delay {
    0%, 40%, 100% {
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }
    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }
  body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #4089a6;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    /*&.is-changing{
      &:before,
      &:after{
        transform: translateY(0);
      }
    }*/
  }
  body:before, body:after {
    content: '';
    height: 50vh;
    width: 100%;
    position: fixed;
    left: 0;
    background: #1c2020;
    z-index: 1;
  }
  body:before {
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  body:after {
    bottom: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  
  h1 {
    color: #1c2020;
    margin-bottom: 1em;
    font-size: 2.2rem;
    font-weight: 100;
  }
  
  .btn {
    display: inline-block;
    padding: 1.4em 1.6em;
    margin-bottom: 2em;
    border-radius: 50em;
    background-color: #343b3b;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .btn:hover {
    background-color: #404949;
  }
  
  .rainbow {
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 15s infinite ease-out alternate;
 
   /* Internet Explorer */
   -ms-animation: rainbow 15s infinite ease-out alternate;
 
   /* Standar Syntax */
   animation: rainbow 15s infinite ease-out alternate;
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{color: #9900cc;}
   9.09%{color: #6600ce;}
   18.18%{color: #4100b4;}
   27.27%{color: #0100fc;}
   36.36%{color: #31cbcb;}
   45.45%{color: #01cc00;}
   54.54%{color: #99fe00;}
   63.63%{color: #fffe01;}
   72.72%{color: #ffcc00;}
   81.81%{color: #fe9900;}
   90.9%{color: #ff6501;}
   100%{color: #fe0000;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
   0%{color: #9900cc;}
   9.09%{color: #6600ce;}
   18.18%{color: #4100b4;}
   27.27%{color: #0100fc;}
   36.36%{color: #31cbcb;}
   45.45%{color: #01cc00;}
   54.54%{color: #99fe00;}
   63.63%{color: #fffe01;}
   72.72%{color: #ffcc00;}
   81.81%{color: #fe9900;}
   90.9%{color: #ff6501;}
   100%{color: #fe0000;}
 }
 
 .cssload-container {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #696768;
 z-index: 999999;
 }
 
 .cssload-container .cssload-item {
   margin: auto;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 49px;
   height: 49px;
   background-color: rgb(255,255,255);
   box-sizing: border-box;
     -o-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
   box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
     -o-box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
     -ms-box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
     -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
     -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
 }
 
 .cssload-container .cssload-moon {
   border-bottom: 10px solid rgb(102,102,102);
   border-radius: 50%;
     -o-border-radius: 50%;
     -ms-border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
   animation: spin 1.15s ease infinite;
     -o-animation: spin 1.15s ease infinite;
     -ms-animation: spin 1.15s ease infinite;
     -webkit-animation: spin 1.15s ease infinite;
     -moz-animation: spin 1.15s ease infinite;
 }
  
  main {
    height: 100vh;
    /* padding: 10px; */
    text-align: center;
  }
  main .-content {
    position: relative;
    height: 100vh;
  }
  main .-content > div {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }
  main .-content.-index {
    background-color: #f6f6f6;
    display: table;
    width: 100%;
  }
  main .-content.-index > div {
    display: table-cell;
    vertical-align: middle;
  }
  